:root {
    --red: #e70634;
}
* {
    margin: 0;
    padding: 0;
    font-size: poppins;
}

body {
    margin: 0;
    padding: 0;

}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* detail page */
.container-details {
    width: 50%;
    /* border: 2px solid red; */
    margin: 2px auto;
    padding: 1rem;
}
.container-details .col-2 {
    display: flex;
    /* border: 2px solid blue; */
    flex-direction: row;
    align-content: center;
    padding: 2rem;
}

.container-details .col-2 .col-left {
    width: 100%;
    height: 100%;
    margin: 2px;
}
.container-details .col-2 .col-left  img {
    max-width: 300px;
    max-height: 400px;
    object-fit: cover; 
    margin-bottom: 0; 
}


.container-details .col-2 .col-right {
    display:flex;
    flex-direction: column;
    /* border: 4px solid green; */

}

.container-details .col-2 .col-right .detail {
    display: flex;
    object-fit: cover;
}

.container-details .col-1 {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    /* border: 3px solid hotpink; */
    
}

.container-details .col-1 .plot {
    display: flex;
    flex-direction: column;
    
} 

 .container-details .col-1 .plot .btn {
     display: flex;
     justify-content: space-evenly;   
}  
 .container-details .col-1 .plot .btn a{
    width: 100px;
    height: 30px;
    background-color: rgba(24, 39, 179, 0.753);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
     
}  